# Include all
.*
*
.DS_Store
# .cofigs/*

# Exclude
# Dot files
!.vimrc
!.zshrc
!.bash_profile

# .config
!.config/
!.config/*
!.config/nvim/**/*.lua
!.config/nvim/**/lazy-lock.json
# !.config/nvim/lua/**/*
!.config/karabiner/**/*

.config/.DS_Store

# git
!.gitignore


