# Ignore all files
.*
*
.DS_Store

# Exclude

# Dot files
!.vimrc
!.zshrc
!.bash_profile

# .config
!.config/
!.config/*
!.config/nvim/**/*.lua
!.config/nvim/**/lazy-lock.json
# !.config/nvim/lua/**/*
!.config/karabiner/**/*

.config/karabiner/automatic_backups
.config/.DS_Store

# git
!.gitignore


