# Ignore all files
.*
*
.DS_Store

# Exclude

# Dot files
!.vimrc
!.zshrc
!.bash_profile

# .config
!.config/
!.config/*
.config/.DS_Store

# NVim
!.config/nvim/lua/
!.config/nvim/lua/*.lua
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*.lua
# !.config/nvim/lazy-lock.json
#!.config/nvim/lua/**/*
!.config/karabiner/**/*

# Karabiner
!.config/karabiner/*
.config/karabiner/automatic_backups


# git
!.gitignore



